<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>

    <!-- Link to CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='/template.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/nav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/about.css') }}">
</head>
<body>
<!-- NAV BAR -->
    <nav>
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('hosting') }}">Minecraft Hosting</a></li>
            <li><a href="{{ url_for('about') }}" id="navActive">About Us</a></li>
            <li><a href="{{ url_for('login') }}">Login</a></li>
        </ul>
    </nav>
<!-- BODY -->
    <div id="mainBodyContainer">
        <div id="imgTop">
            <img src="" alt="">
        </div>

        <div id="hostSpec">
            <div class="infoPanel">
                <h2 class="centerText"> Hardware Info</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse potenti. Curabitur sed nisl id urna fermentum efficitur non in lacus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Vivamus non justo nunc. Aliquam erat volutpat. Donec faucibus malesuada mi, a porttitor est hendrerit eu. Sed convallis, sem quis hendrerit pretium, justo justo vehicula urna, nec tincidunt augue libero non massa.
                    Integer laoreet, urna id bibendum malesuada, purus sapien consequat quam, vitae bibendum augue lorem vitae nisl. Suspendisse ac sem sagittis, hendrerit ipsum eu, bibendum mi. Nulla nec fermentum sem, vitae dictum libero. Aliquam erat volutpat. Phasellus malesuada dapibus sapien, quis viverra metus posuere et. Vestibulum ut lacus eros. Curabitur eget turpis id justo interdum ornare at et libero.
                    Mauris hendrerit viverra ante, vel efficitur lacus eleifend vitae. Nullam mattis, nisl id lacinia volutpat, purus eros consectetur sapien, vel placerat velit nibh sit amet enim. Donec scelerisque commodo pretium. Donec pharetra luctus dapibus. Sed ullamcorper dui in magna consectetur, vel convallis tortor hendrerit. Aenean id viverra lorem. Cras egestas finibus libero non pharetra.

                </p>
            </div>

            <div class="infoPanel">
                <h2 class="centerText">WIP Featuress</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse potenti. Curabitur sed nisl id urna fermentum efficitur non in lacus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Vivamus non justo nunc. Aliquam erat volutpat. Donec faucibus malesuada mi, a porttitor est hendrerit eu. Sed convallis, sem quis hendrerit pretium, justo justo vehicula urna, nec tincidunt augue libero non massa.
                    Integer laoreet, urna id bibendum malesuada, purus sapien consequat quam, vitae bibendum augue lorem vitae nisl. Suspendisse ac sem sagittis, hendrerit ipsum eu, bibendum mi. Nulla nec fermentum sem, vitae dictum libero. Aliquam erat volutpat. Phasellus malesuada dapibus sapien, quis viverra metus posuere et. Vestibulum ut lacus eros. Curabitur eget turpis id justo interdum ornare at et libero.
                    Mauris hendrerit viverra ante, vel efficitur lacus eleifend vitae. Nullam mattis, nisl id lacinia volutpat, purus eros consectetur sapien, vel placerat velit nibh sit amet enim. Donec scelerisque commodo pretium. Donec pharetra luctus dapibus. Sed ullamcorper dui in magna consectetur, vel convallis tortor hendrerit. Aenean id viverra lorem. Cras egestas finibus libero non pharetra.
                    
                </p>
            </div>
        </div>
    </div>

    <footer>

    </footer>

</body>
</html>
