<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>

    <!-- Link to CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='/template.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/nav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/about.css') }}">
</head>
<body>
<!-- NAV BAR -->
    <nav>
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('hosting') }}">Minecraft Hosting</a></li>
            <li><a href="{{ url_for('about') }}" id="navActive">About Us</a></li>
            {% if not current_user.is_authenticated %}
            <li><a href="{{ url_for('login') }}">Login</a></li>
            {% endif %}
            {% if  current_user.is_authenticated %}
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
            {% endif %}
        </ul>
    </nav>
<!-- BODY -->
    <div id="mainBodyContainer">
        <div id="imgTop">
            <img src="{{ url_for('static', filename='Imgs/homeImg2.jpg') }}" alt="">
        </div>

        <div id="hostSpec">
            <div class="infoPanel">
                <h2 class="centerText"> Hardware Info<br></h2>
                <p>
                    Our hosting infrastructure is built specifically for Minecraft performance,
                    ensuring low latency, fast load times, and stable gameplay no matter how large your world becomes.
                    Every server runs on optimized, high-clock-speed hardware designed to handle demanding environments
                    such as redstone machines, automation mods, and large player bases.
                </p>
                <h3 class="centerText">
                     <br>High-Performance CPU Power
                </h3>
                <p class="centerText">
                    <br>All Minecraft servers run on cutting-edge processors with strong single-core performance - the most important factor for smooth gameplay.
                    <br>Latest-generation Intel & AMD CPUs
                    <br>High clock speeds (4.5 GHz+ turbo)
                    <br>Optimized for low-latency tick rates
                    <br>Isolated environment for guaranteed performance
Y                   <br>our server won't compete for resources with other users.
                </p>
                <h3 class="centerText">
                    <br>Ultra-Fast NVMe Storage
                </h3>
                <p class="centerText">
                    <br>We use enterprise-grade NVMe SSDs to keep your worlds loading instantly.
                    <br>Up to 7,000 MB/s read speeds
                    <br>Instant chunk loading
                    <br>Faster backups
                    <br>Reduced world corruption risk
                    <br>Great for modded servers that rely heavily on disk access.
                </p>
            </div>

            <div class="infoPanel">
                <h2 class="centerText">WIP Featuress</h2>
                <p>
                   Our platform is growing fast, and we’re constantly developing new tools and features that make managing your
                     Minecraft servers easier, faster, and more enjoyable. Here’s what we're working on right now - and coming very soon.
                </p>

                <h3 class="centerText">
                    <br>Current Features (Already Live)<br>
                </h3>
                <p class="centerText">
                    <br>Select Server Package
                    <br>Automatic server setup
                    <br>Start/Stop Server
                    <br>View Live Server Console
                </p>

                <h3 class="centerText">In Development (Comming Soon)</h3>
                <p class="centerText">
                    <br>File Manager
                    <br>Modded Auto setup
                    <br>Resource Monitoring
                    <br>Plugin Interface
                    <br>Custom DNS Service
                </p>
            </div>
        </div>
    </div>

    <footer>
        © 2025 ScuffedHost - Fast, Reliable Minecraft Server Hosting.<br>
        Built for players. Powered by performance.
    </footer>

</body>
</html>
