<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>

    <!-- Link to CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='/template.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/nav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/home.css') }}">
</head>
<body>
<!-- NAV BAR -->
    <nav>
        <ul>
            <li><a href="{{ url_for('home') }}" id="navActive">Home</a></li>
            <li><a href="{{ url_for('hosting') }}">Minecraft Hosting</a></li>
            <li><a href="{{ url_for('about') }}">About Us</a></li>
            {% if not current_user.is_authenticated %}
            <li><a href="{{ url_for('login') }}">Login</a></li>
            {% endif %}
            {% if  current_user.is_authenticated %}
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
            {% endif %}
        </ul>
    </nav>
<!-- BODY -->
    <div id="mainBodyContainer">
        <div id="serviceInfo">
            <div class="statement">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos.

Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos.
                </p>
            </div>

            <div class="statement">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos.

Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos.
                </p>
            </div>
        </div>

        <div id="homeImg">
            <img src="" alt="">
        </div>

        <div id="faq">
            <p>
                
            </p>
        </div>
    </div>

    <footer>

    </footer>

</body>
</html>
