<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Link to your CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='hostingInfo.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='nav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='template.css') }}">
</head>
<body>
    <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('hosting') }}" id="navActive">Minecraft Hosting</a></li>
                <li><a href="{{ url_for('about') }}">About Us</a></li>
                <li><a href="{{ url_for('login') }}">Login</a></li>
            </ul>
        </nav>
    <!-- BODY -->
    <div id="mainBodyContainer">
        <div id="wrapperBody">
            <div id="statementRow">
                <div id="item1">
                    <h1>Banananananana</h1>

                    <p>As part of the recruitment and enrolment process for this apprenticeship, candidates must provide proof of all required qualifications. Original certificates or certified copies must be submitted. This is a mandatory requirement to secure the position. The deadline for providing qualification certificates for the RME Mechatronics programme is 17 July 2026. Applications without verified qualifications by this date will automatically be unsuccessful. Failure to provide proof of qualifications by the stated deadline will result in the withdrawal of any conditional offer, and you will not be able to commence the apprenticeship programme. Previous qualifications will be reviewed for funding eligibility and offers may be withdrawn for applicants who do not meet funding criteria.

Basic Qualificat</p>
                </div>

                <div id="item2">
                    <img src="" alt="">
                </div>
            </div>

            <div id="packageRow">
                <div class="packageItem">
                    <img src="" alt="">
                    <div class="packageInfo">
                        <p>Package Info, Package Info, Package Info, 
                            Package Info, Package Info, Package Info, Package Info, 
                            Package Info, Package Info, Package Info, Package Info, 
                            Package Info, Package Info, Package Info, Package Info, 
                            Package Info, Package Info, Package Info, Package Info, 
                            Package Info, Package Info, Package Info, 
                        </p>
                    </div>
                    <button>Create Server</button>
                </div>

                <div class="packageItem">
                    <img src="" alt="">
                    <div class="packageInfo">
                        <p>Package Info, Package Info, Package Info, 
                            Package Info, Package Info, Package Info, Package Info, 
                            Package Info, Package Info, Package Info, Package Info, 
                            Package Info, Package Info, Package Info, Package Info, 
                            Package Info, Package Info, Package Info, Package Info, 
                            Package Info, Package Info, Package Info, 
                        </p>
                    </div>
                    <button>Create Server</button>
                </div>

                <div class="packageItem">
                    <img src="" alt="">
                    <div class="packageInfo">
                        <p>Package Info, Package Info, Package Info, 
                            Package Info, Package Info, Package Info, Package Info, 
                            Package Info, Package Info, Package Info, Package Info, 
                            Package Info, Package Info, Package Info, Package Info, 
                            Package Info, Package Info, Package Info, Package Info, 
                            Package Info, Package Info, Package Info, 
                        </p>
                    </div>
                    <button>Create Server</button>
                </div>
            </div>
        </div>
    </div>
    
    <footer>

    </footer>
</body>
</html>
