<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>

    <!-- Link to CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='/template.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/nav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/hosting.css') }}">
</head>
<body>
<!-- NAV BAR -->
    <nav>
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('hosting') }}" id="navActive">Minecraft Hosting</a></li>
            <li><a href="{{ url_for('about') }}">About Us</a></li>
            {% if not current_user.is_authenticated %}
            <li><a href="{{ url_for('login') }}">Login</a></li>
            {% endif %}
            {% if  current_user.is_authenticated %}
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
            {% endif %}
        </ul>
    </nav>
<!-- BODY -->
    <div id="mainBodyContainer">
        <div id="serverControls">
            <div id="resultOutputDiv">
                <h2 id="serverResult"></h2>
            </div>

            <div id="serverButtons">
                <button id="serverStartBtn">Start Server</button>
                <button id="serverStopBtn">Stop Server</button>
            </div>
        </div>
        

        <div id="consoleDiv">
        </div>

        
        
        <script src="https://cdn.socket.io/4.6.1/socket.io.min.js"></script>

        <script>
            //On Load get server status
            window.onload = function() {
                fetch("/serverStart", { method: "POST"})
                    .then(Response => Response.json())
                    .then(Data => {
                        document.getElementById("serverResult").innerText = "Server Status: " + Data.status;;
                    })
                    .catch(err => {
                        document.getElementById("serverResult").innerText = "Server Status: " + "Not Running";
                    })
            }
            // SERVER START BTN
            document.getElementById("serverStartBtn").onclick = function() {
                fetch("/serverStart", { method: "POST"})
                    .then(Response => Response.json())
                    .then(Data => {
                        document.getElementById("serverResult").innerText = "Server Status: " + Data.status;;
                    })
                    .catch(err => {
                        document.getElementById("serverResult").innerText = "Server Status: " + "Error";
                    })
            }
            
            //SERVER STOP BTN
            document.getElementById("serverStopBtn").onclick = function() {
                fetch("/serverStop", { method: "POST"})
                    .then(Response => Response.json())
                    .then(Data => {
                        document.getElementById("serverResult").innerText = "Server Status: " + Data.status;;
                    })
                    .catch(err => {
                        document.getElementById("serverResult").innerText = "Server Status: " + "Error";
                    })
            }

            //Server Console Log
            
            var socket = io();
            socket.on('console', function(msg) {
                var consoleOutput =document.getElementById('consoleDiv');
                consoleOutput.innerHTML += msg.data + "\n";
                consoleOutput.scrollTop =consoleOutput.scrollHeight;
            })

        </script>
    </div>

    <footer>
        © 2025 ScuffedHost - Fast, Reliable Minecraft Server Hosting.<br>
        Built for players. Powered by performance.
    </footer>

</body>
</html>
