<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Link to your CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='nav.css') }}">
</head>
<body>
    <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('hosting') }}" id="navActive">Minecraft Hosting</a></li>
                <li><a href="{{ url_for('about') }}">About Us</a></li>
                {% if not current_user.is_authenticated %}
                <li><a href="{{ url_for('login') }}">Login</a></li>
                {% endif %}
                {% if  current_user.is_authenticated %}
                <li><a href="{{ url_for('home') }}">Logout</a></li>
                {% endif %}
            </ul>
        </nav>
    <!-- BODY -->
        <div id="mainBodyContainer">
            
        </div>

        
    <footer>

    </footer>

</body>
</html>
