<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>

    <!-- Link to CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='/template.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/nav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/login.css') }}">
</head>
<body>
<!-- NAV BAR -->
    <nav>
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('hosting') }}">Minecraft Hosting</a></li>
            <li><a href="{{ url_for('about') }}">About Us</a></li>
            <li><a href="{{ url_for('login') }}" id="navActive">Login</a></li>
        </ul>
    </nav>
<!-- BODY -->
    <div id="mainBodyContainer">
        <div id="loginWrapper">
            <div id="loginBox">
            <div id="logRegMode">
                <button>Login</button><br>
                <button>Register</button>
            </div>

            <div id="userDetails">
                <input type="text" name="logUsernmae" id="logUsername"><br>
                <input type="password" name="logPassword" id="logPassword"><br>
                <button id="logRegButton">Login</button>
            </div>
        </div>
    </div>
        
    </div>

    <footer>

    </footer>

</body>
</html>
