#mainBodyContainer #imgTop {
    width: 100%;
    height: 20%;
    display: block;
    margin-bottom: 35px;
}

#mainBodyContainer #imgTop img {
    width: 100vw;
    max-height: 100%;
    border-radius: 25px;
    border: 0;
}

#mainBodyContainer #hostSpec {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 5%;
    padding: 2px 0;
    overflow-y: auto;
    background-color: #213d53;
    border-radius: 25px;
}

#mainBodyContainer #hostSpec .infoPanel {
    height: auto;
    width: 47.5%;
    padding: 25px;
}