#mainBodyContainer #imgTop {
    width: 100%;
    height: 15%;
    display: block;
    background-color: black;
    margin-bottom: 35px;
}

#mainBodyContainer #hostSpec {
    display: flex;
    height:59vh;
    width: 100%;
    justify-content: space-between;
    gap: 5%;
    padding: 2px 0;
     overflow-y: auto;
}

#mainBodyContainer #hostSpec .infoPanel {
    height: auto;
    width: 47.5%;

}