#mainBodyContainer #serviceInfo {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
    gap: 5%;
    overflow: hidden;
}

#mainBodyContainer #serviceInfo .statement {
    width: 55%;
    height: 100%;
    text-align: left;
    overflow: hidden;
}

#mainBodyContainer #homeImg {
    width: 100%;
    height: 20%;
    display: block;
}
#mainBodyContainer #homeImg img {
    min-width: 100vw;
    max-height: 100%;
    max-width: 100%;
}

#mainBodyContainer #faq {
    height: 37.5%;
    width: 100%;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    overflow: hidden;
}

.textCenter {
    text-align: center;
}

.homeFix {
    background-color: #213d53 !important; 
    color: white !important;
    border-radius: 25px !important;
    border: 0px !important;
}