#mainBodyContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#serverControls {
    display: flex;
    width: 100%;
    align-content: center;
    justify-content: flex-end;
    flex-direction: row;
    margin-right: 8.8vw;
}
#serverControls button {
    width: 240px;
    height: 90px;
    background-color: #508991;
    border-radius: 25px;
    border: 0;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#serverControls button:hover {
    width: 240px;
    height: 90px;
    border-radius: 25px;
    border: 0;
    background-color: #74B3CE;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#consoleDiv {
    display: block;
    width:90%;
    height: 40vh;
    outline: solid;
    overflow-y: scroll;
    white-space: pre-wrap;
    
}

#resultOutputDiv {
    margin-right: 15px;
}