#mainBodyContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#serverControls {
    display: block;
}

#consoleDiv {
    display: block;
    width:90%;
    height: 40vh;
    outline: solid;
    overflow-y: scroll;
    white-space: pre-wrap;
    
}