#mainBodyContainer #statementRow {
    display: flex;
    flex-direction: row;
    min-width: 100%;
    min-height: 25vh;
    margin-bottom: 5%;
}

#mainBodyContainer #wrapperBody {
    overflow-y: auto;
    scrollbar-color: #508991;
    scrollbar-3dlight-color: #508991;
    scrollbar-base-color: #74B3CE;
    scrollbar-width: thin;
}

#mainBodyContainer #statementRow #item1 {
    display: flex;
    flex-direction: column;
    min-width: 60%;
    min-height: 100%;
    overflow: hidden;
}

#mainBodyContainer #statementRow #item2 img {
    max-width: 100%;
    max-height: 100%;   
    border-radius: 25px;
}


#mainBodyContainer #packageRow {
    display: flex;
    flex-direction: row;
    min-width: 100%;
    min-height: 45vh;
    align-items: center;
    justify-content:space-around;
    background-color: #213d53;
    border-radius: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
}

#mainBodyContainer #packageRow .packageItem {
    width: 30%;
    overflow: hidden;
}


#mainBodyContainer #packageRow .packageItem img {
    width: 100%;
    height: 200px;
    border-radius: 25px;
}

#mainBodyContainer #packageRow .packageItem button  {
    min-width: 100%;
    min-height: 50px;
    background-color: #508991;
    color: white;
    border-radius: 25px;
    border: 0;
}

#mainBodyContainer #packageRow .packageItem button:hover  {
    min-width: 100%;
    min-height: 50px;
    background-color: #74B3CE;
    color: white;
    border-radius: 25px;
    border: 0;
}

#mainBodyContainer #packageRow .packageItem .packageInfo {
    min-width: 100%;
    height: 240px;
    border-radius: 25px;
}