nav  {
    width: 95%;
    height: 100%;
    margin-left: 2.5%;
    margin-top: 1.5%;
    border-color: black;
    border: 1px;
    border-style: solid;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0%;
    overflow: hidden;
    align-items: center;
    
}

nav ul li {
    flex: 1;
    height: 90px;
    padding: 0;
}


nav ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(212, 212, 212, 0.993);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24pt;
    height: 90px;
    color: black;
    outline: 0.5px solid black;
}

#navActive {
    background-color: red;
}

nav ul li a:hover {
    background-color: aqua;
}