nav  {
    width: 95%;
    height: 100%;
    margin-left: 2.5%;
    margin-top: 1.5%;
    border: 2px;
    border-radius: 25px;
    border-style: solid;
    border-color: #213d53;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0%;
    overflow: hidden;
    align-items: center;
    background-color: #213d53;
    border-radius: 25px;
    
}

nav ul li {
    flex: 1;
    height: 90px;
    padding: 0;
    
}


nav ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #213d53;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24pt;
    height: 90px;
    color: white;
    border-radius: 25px;
}

#navActive {
    background-color: #508991;
}

nav ul li a:hover {
    background-color: #74B3CE;
}