#mainBodyContainer {
    width: 90%;
    height: 75vh;
    margin: 5% auto;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    background-color: rgb(240, 240, 240);
    border: 1px;
    border-style: solid;
    overflow: hidden;
}

footer {
    width: 95%;
    height: 7vh;
    margin: 5% auto;
    margin-bottom: 0;
    margin-top: 0;
    background-color: rgb(240, 240, 240);
    border: 1px;
    border-style: solid;
}

.centerText {
    text-align: center;
}