#mainBodyContainer {
    width: 90%;
    margin: 5% auto;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    background-color: #172A3A;
    overflow-y: auto;
    overflow-x: hidden;
    color: white;
}

footer {
    width: 95%;
    height: 7vh;
    margin: 5% auto;
    margin-bottom: 0;
    margin-top: 0;
    background-color: #172A3A;
    color: white;
    text-align:center;
    padding:20px;

}

.centerText {
    text-align: center;
}

body {
    background-color: #172A3A;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
